html
    head
        link(rel='stylesheet', href='/stylesheets/core/error.css')
    body
        #clouds
            .cloud.x1
            .cloud.x1_5
            .cloud.x2
            .cloud.x3
            .cloud.x4
            .cloud.x5
        .c
            ._404 500
            hr
            ._2= `User '${userId}' does not exist. If you think this error information is wrong, please click the 'Report to Administrator' button. It will send error information automatically.`
            a.btn(href='/') Home
            -if(loginedId !== null){
            form(action=`/reportError/er/${loginedId}` id='submit' method="post")
                input(type='hidden', id='sender' name='sender' value=`${loginedId}`)
                input(type='hidden', id='userAgent' name='userAgent')
                input(type='hidden', id='vendor' name='vendor')
                input(type='hidden', id='language' name='language')
                a.btn(href='#' onclick="document.getElementById('submit').submit()") Report to Administrator
            - } else {
            form(action=`/reportError/er/anonymous` id='submit' method="post")
                input(type='hidden', id='sender' name='sender' value=`anonymous`)  
                input(type='hidden', id='userAgent' name='userAgent')
                input(type='hidden', id='vendor' name='vendor')
                input(type='hidden', id='language' name='language') 
                a.btn(href='#' onclick="document.getElementById('submit').submit()") Report to Administrator
            -}
script(src='javascripts/core/error.js')


