extends layout

block content
  header
    nav
      h1
        a(href='/') Si Hyeong Lee's Portfolio
  main#maincontent
    section
      .filter-options
        h2 Filter Results
        select#neighborhoods-select(name='neighborhoods', onchange='selectBoxUpdate();')
          option(value='All') All Achievements
          option(value='Project') Projects
          option(value='Certificate') Certifications
          option(value='Education') Education
        button(class='button' type='button' onclick="window.location.href='/create'") Create Information
        button(class='button' type='button' onclick="window.location.href='/'") Home
        button(class='button' type='button' onclick="window.location.href='/about'") About
    #resume
        button(class='button' type='button' onclick="window.location.href='https://docs.google.com/document/export?format=pdf&id=1xbZAd_kqkkER70KUqLNLl1A9LaCA1imYF6UieWEHCpE&token=AC4w5Vgs_GK_EPmV4tYTKBvlCwUGZSemDg%3A1539660312197&includes_info_params=true'") Download with PDF
        button(class='button' type='button' onclick="window.location.href='https://docs.google.com/document/export?format=docx&id=1xbZAd_kqkkER70KUqLNLl1A9LaCA1imYF6UieWEHCpE&token=AC4w5Vgs_GK_EPmV4tYTKBvlCwUGZSemDg%3A1539660312197&includes_info_params=true'") Download with DOCX
        button(class='button' type='button' onclick="window.location.href='https://docs.google.com/document/d/1xbZAd_kqkkER70KUqLNLl1A9LaCA1imYF6UieWEHCpE/edit?usp=sharing'") Edit
        iframe(src='https://docs.google.com/document/d/e/2PACX-1vSedaBad4WSYxmjNv3CmybuBB3ZIPJCSOW8QvhH6Pai5X84o87EA8EJf2__BFZfDrKpUxPJq1rp2m_b/pub?embedded=true')


  script(type='application/javascript', charset='utf-8', src='javascripts/setting.js')
  script(type='application/javascript', charset='utf-8', src='javascripts/sw_register.js')
  
  footer#footer
    | Copyright (c) 2018 
    a(href='https://www.linkedin.com/in/sihyeonglee/')
      strong Si Hyeong Lee
    |  All Rights Reserved.
