.viewDetail {
  background-color: orange;
  color: #ffffff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  transition-duration: 0.4s; }
  .viewDetail:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.button {
  background-color: #4caf50;
  border-radius: 7px;
  border: none;
  color: #ffffff;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 5px;
  margin-right: 5px; }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%; }

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase; }

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center; }
  nav h1 {
    vertical-align: middle;
    text-align: center;
    padding-top: 30px;
    margin-top: 0; }
    nav h1 a {
      color: #ffffff;
      font-size: 14pt;
      letter-spacing: 8px;
      text-transform: uppercase;
      text-decoration: none; }

.filter-options {
  width: 100%;
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #333;
  align-items: center; }
  .filter-options h2 {
    color: #ffffff;
    font-size: 1em;
    line-height: 1;
    margin: 0 40px;
    padding-top: 10px;
    padding-left: 2%; }
  .filter-options select {
    font-size: 11pt;
    height: 30px;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
    margin-left: 4%; }
  .filter-options nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-align: end; }
    .filter-options nav ul li {
      display: inline-block; }
      .filter-options nav ul li a {
        color: #ffffff;
        font-size: 1em; }

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px); }
  #breadcrumb li {
    display: inline; }
    #breadcrumb li a {
      color: #0275d8;
      text-decoration: none; }
      #breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline; }
    #breadcrumb li + li:before {
      padding: 8px;
      color: black;
      content: "/\00a0"; }

#restaurants-list {
  background-color: #f3f3f3;
  padding: 10px 0 25px;
  margin-bottom: 0;
  text-align: center; }
  #restaurants-list li {
    display: inline-block;
    background-color: #ffffff;
    margin: 20px;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 0.8em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    #restaurants-list li h1 {
      color: #f18200;
      font-size: 14pt;
      text-decoration: none;
      overflow: hidden;
      width: 315px; }
  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    width: 100%;
    max-width: 315px;
    height: 248px;
    border-radius: 0 0 7px 7px; }

.type-box {
  background-color: #333;
  border-radius: 0.8em 0.8em 0 0;
  width: 119%;
  margin-left: -30px; }
  .type-box > .paragraph-Project {
    background-color: transparent;
    height: 44px;
    width: 270px;
    margin-left: 30px;
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200;
    font-size: 20px;
    color: #4cc9fa;
    display: table-cell;
    vertical-align: middle; }
  .type-box > .paragraph-Certificate {
    background-color: transparent;
    height: 44px;
    width: 270px;
    margin-left: 30px;
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200;
    font-size: 20px;
    color: #f0e68c;
    display: table-cell;
    vertical-align: middle; }
  .type-box > .paragraph-Education {
    background-color: transparent;
    height: 44px;
    width: 270px;
    margin-left: 30px;
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200;
    font-size: 20px;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle; }

.element {
  overflow: hidden;
  width: 315px; }

#resume {
  width: 80%;
  max-width: 63em;
  margin: 0 auto;
  margin-top: 2em;
  border: 1px solid lightgrey; }
  #resume > iframe {
    width: 100%;
    height: 80%; }

@media (max-width: 600px) {
  .filter-options {
    width: 100%;
    height: 125px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #333;
    align-items: center; } }

@media (max-width: 700px) {
  #resume {
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    margin-top: 2em;
    border: 1px solid lightgrey; }
    #resume > iframe {
      width: 100%;
      height: 80%; }
  .c18 {
    background-color: #ffffff;
    max-width: 525.6pt;
    padding-left: 0;
    padding-right: 0; } }

a img {
  border: none 0 #ffffff; }

li > p {
  overflow: hidden;
  font-size: 11pt;
  width: 315px; }
