extends layout.pug

block customCSS
	link(href='/stylesheets/mypage/contact.css', rel='stylesheet')
block content
	#content-wrapper
		.inbox_people
			.headind_srch
				.recent_heading
					h4 Recent
				.srch_bar
					.stylish-input-group
						input.search-bar(type='text', id='contactSearch' placeholder='Search' onkeyup="filter()")
						span.input-group-addon
							button(type='button')
								i.fa.fa-search(aria-hidden='true')
			.inbox_chat(id='contact')
				each data, index in userData
					.chat_list.active_chat
						.chat_people
							.chat_img
								img(src=`${data.avatar_url}`, class='listImage')
							.chat_ib
									a(href='#' onclick='joinChat()')
										h5(id=`${chatRoomData[index].roomName}`)=`${data.login}`
									span.chat_date Dec 25
									.chatData
										| Test, which is a new approach to have all solutions
										| astrology under one roof.
		.mesgs
			.msg_history
		#contactListButton
			//- i.fas.fa-arrow-left
			#contactListContent ← Back to Contacts
			// Send Message
		.type_msg
			.input_msg_write
				form(id='chat')
					input.write_msg(type='text' autocomplete='off' placeholder='Type a message' id='message')
					button.msg_send_btn(type='button')
						i.fa.fa-paper-plane(aria-hidden='true')

block customJS
	// Chat JS
	script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js")
	script(src="https://unpkg.com/babel-standalone@6/babel.min.js")
	script(src='/javascripts/mypage/mypage.js')
	script(src='/javascripts/mypage/chat.js')
	include ../libraries/reactjs.pug
	script.
		let ownerId=!{JSON.stringify(ownerData)}
